<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>



<h1> Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ url_for('post_details', post_id=post.id) }}">{{ post.title }} </a>
            </li>
        {% endfor %}
    </ul>

<!--<a href="{{ url_for('create_user') }}" class="btn btn-secondary">Add New User</a>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>