#btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

#content {
  background-color: bisque;
}

h2 {
  background-color: rgb(240, 240, 174);
  font-size: 1.5rem;
}
