#body {
  background-color: rgb(129, 129, 235);
}

#board {
  display: none;
  background-color: purple;
}

.jeopardy-board {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.jeopardy-board th,
.jeopardy-board td {
  color: white;
  border: 1px solid #000;
  padding: 10px;
  padding: 0.5rem; /* Adjust padding to increase space inside cells */
  border-right: 8px solid #ffffff; /* Creates a visual "space" between columns */
}

.jeopardy-board th {
  background-color: #dca0ef;
  padding-bottom: 3%;
  color: white;
}
