{% extends "main/main_page.html" %}

{% block title %}
Create Account - Blades In The Dark
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <form action="{{ url_for('show_sign_in_form') }}" id="sign" method="post" style="padding: 20px; margin: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 100%; max-width: 400px;">
    <h2 class="text-center">Forge Your Path in the Shadows</h2>
    <div class="form-group">
      <label for="username">Alias in the Shadows:</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
    </div>
    <div class="form-group">
      <label for="email">Contact in the Ether:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your secret communication channel" required>
    </div>
    <div class="form-group">
      <label for="password">Secret Cipher:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Enter your encrypted key" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Embrace the Darkness</button>
  </form>
</div>
{% endblock %}