body {
  background-color: rgb(229, 210, 246);
  background-size: cover;
  background-position: center;
}

#memeGenerator {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#topText,
#bottomText,
#imageLink {
  background-color: bisque;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
  display: inline-block;
  max-width: 600px;
  width: 90%;
}

#imageDisplay {
  margin-bottom: 80px;
}

button {
  background-color: rgb(140, 140, 242);
  border-radius: 5%;
}
#imageDisplay {
  position: relative;
}
