* {
  box-sizing: border-box;
}

input:focus {
  background-color: #eef9ff;
  border-color: firebrick;
  outline: none; /* Removes the default focus outline */
}

body {
  background-image: linear-gradient(
    to right,
    fireBrick,
    salmon,
    sandyBrown,
    rgb(217, 162, 11),
    gold
  );
  height: 1000px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
}

input {
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: solid firebrick;
  border-width: 0 0 thick 0;
  font-weight: bold;
}

.search-container {
  text-align: center;
  margin: 0 auto;
  height: 50%;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.search-container .suggestions {
  color: black;
  height: 400px;
  display: none;
  background-image: linear-gradient(
    to bottom,
    gold,
    sandyBrown,
    salmon,
    fireBrick
  );
  transition: background-color 0.5s ease-in-out;
}

ul {
  overflow-y: auto;
  list-style-type: none; /*delete markers*/
  height: 400px;
  padding-inline-start: 0px;
  scrollbar-color: fireBrick;
  scrollbar-width: thick;
}

/* For WebKit browsers like Chrome, Safari */
ul::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

ul::-webkit-scrollbar-track {
  background: lightgrey; /* Color of the track */
}

ul::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners on the scrollbar thumb */
}

ul.has-suggestions {
  border: 1px solid #ef7d7d;
}
ul li {
  position: relative;
  transition: background-color 0.1s, color 0.3s;
  padding-bottom: 10px;
  padding-top: 10px;
}
ul li:hover {
  color: firebrick;
  transition: background-color 0.2s ease-in-out;
  background-color: #ef7d7d;
  cursor: pointer;
}

input {
  font-weight: bold;
}
